body {
  position: relative;
}
.carousel-fade .carousel-item {
  display: block;
  position: relative;
  opacity: 0;
  transition: opacity .75s ease-in-out;
}
.carousel-fade .carousel-item.active {
  opacity: 1;
  display: block;
}
.carousel {
  position: relative;
  top: 0;
  left: 0;
}
.carousel-caption {
    top: 70%;
    bottom: auto;
}
.google-map{
    overflow:hidden;
    padding-bottom:50%;
    position:relative;
    height:0;
}
.google-map iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
.img-wrapper{
  position: relative;
  overflow: hidden;
}
.scale-effect:hover{
  transform: scale(1.1);
  transition: all .5s ease;
}
.card-caption{
    position: absolute;
    color: white;
    top: 75%;
}
